/* Outline (i.e. navbar, footer, header) */

.header {
  text-align: center;
  color: #1890ff;
  margin-top: 0;
}

.footer {
  padding-bottom: 2%;
}

.nav-btns {
    margin-top: 0.5%;
    margin-right: 3%;
    margin-bottom: 0;
}

.login-btn {
    margin-right: 7%;
}

/* IDE page */

.text-editor {
    border: 1px solid #E0E0E0;
}

.main-body {
    margin-right: 3%;
    margin-left: 3%;
}

textarea[name=output] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    resize: none;
    font-size: 16pt;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.testCases {
    margin-top: 2%;
}

.question-col {
  height: 100vh;
}

.ide-card {
  width: 100%;
}

.mock-input{
  height: 75vh;
  width: 100%;
}

.submit-btns {
  margin-top: 1%;
}

/* Home page */

.landingPageTitle {
    text-align: center;
}

.landingPageImg {
    height:65vh;
    width:100%;
    padding: 0;
    margin: 0;
}

/* Questions Page */

.q-table {
    margin: 2% 5% 0 5%;
}

.panel-topic {
    min-height: 15vh;
}

.collapse-topics {
    margin: 5% 10% 0%;
}

.questionDescription {
    margin-top: 1%;
}

/* Skulpt IDE */
.run-btn {
    margin-left: 53%;
}

#output-area {
    display: none;
    margin-top: 2%;
}
