/* Outline (i.e. navbar, footer, header) */

.header {
  text-align: center;
  color: #1890ff;
  margin-top: 1%;
}

.footer {
  padding-bottom:2%;
}

.navbar-padding {
  padding-top: 1%;
}

.navBar {
    margin-bottom: 5%;
}
/* IDE page */

textarea[name=output] {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1%;
    border: none;
    resize: none;
    font-size: 16pt;
}

.testCases {
    margin-top: 2%;
}

.question-col {
  height: 100vh;
}

.ide-card {
  width: 100%;
}

.mock-input{
  height: 75vh;
  width: 100%;
}

.submit-btns {
  margin-top: 1%;
}

/* Home page */

.landingPageTitle {
    text-align: center;
}

.landingPageImg {
    height:65vh;
    width:100%;
    padding: 0;
    margin: 0;
}

/* Questions Page */

.q-table {
    margin: 2% 5% 0 5%;
}

.panel-topic {
    min-height: 15vh;
}

.collapse-topics {
    margin: 5% 10% 0%;
}

.questionDescription {
    margin-top: 1%;
}
